@font-face {
    font-family: 'Heading Heavy'; 
    src: url('fonts/Heading-Pro-Wide-Heavy-trial.ttf');
}

@font-face {
    font-family: 'Syne ExtraBold'; 
    src: url('fonts/Syne-ExtraBold.ttf');
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body div {
    flex: 1 1 auto;
}

.top-container {
    margin: 0;
    padding: 50px 160px 40px 160px;
    min-height: 70vh;
    width: auto;
    background-image: url("images/stage.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8)
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 80px 0;
}

.logo {
    height: 50px;
    width: auto;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 60px;
    color: white;
    font-size: 24px;
    font-family: "DM Sans";
    font-weight: 400;
}

li {
    transition: 0.4s;
}

li:hover {
    font-weight: 900;
}

.start-container {
    display: flex;
    gap: 100px;
}

.start-container h1 {
    color: white;
    font-family: "Heading Heavy";
    font-size: 92px;
    margin: 0 0 20px 0;
    padding: 0;
}

.battle {
    color: #da3a56;
}

.start-container p {
    color: white;
    font-size: 24px;
    font-family: "DM Sans";
    margin: 0 0 110px 0;
    padding: 0;
}

.start-content-buttons {
    display: flex;
    gap: 20px;
}

.start-content button {
    margin: 0;
    padding: 10px 28px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    font-family: "DM Sans";
    font-size: 24px;
    font-weight: 800;
    transition: 0.4s;

}

.start-content button:hover {
    margin: 0;
    padding: 10px 28px;
    background-color: #da3a56;
    color: white;
    border: 1px solid #da3a56;
    border-radius: 12px;
    font-family: "DM Sans";
    font-size: 24px;
    font-weight: 800;
}

.start-image {
    border-radius: 30px;
    width: 880px;
    height: auto;
}

.dlc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 100px 100px;
    min-height: 500px;
    width: auto;
}

.dlc-container h1 {
    color: black;
    font-family: "Heading Heavy";
    font-size: 92px;
    margin: 0 0 60px 0;
    padding: 0;
}

.dlc-cards {
    display: flex;
    gap: 120px;
    margin: 0;
    padding: 0;
}

.card-img {
    width: 360px;
    height: 380px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px #c7c7c7;
}

#heihachi {
    background-image: url("images/heihachi.jpg");
    background-size: cover;
    background-position: center;
}

#lidia {
    background-image: url("images/lidia.avif");
    background-size: cover;
    background-position: center;
}

#eddy {
    background-image: url("images/eddy.jpg");
    background-size: cover;
    background-position: center;
}

#drag {
    background-image: url("images/drag.jpg");
    background-size: cover;
    background-position: center;
}

.card p {
    font-family: "DM Sans";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.quote-container {
    margin: 0;
    padding: 100px 100px;
    min-height: 400px;
    width: auto;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    color: white;
    font-family: "DM Sans";
    font-size: 50px;
    font-weight: 800;
    width: 1200px;
    margin: 0;
    flex: 1 1 0;
}

.quoter {
    color: white;
    font-family: "DM Sans";
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    margin: 0;
}

.call-container {
    margin: 0;
    padding: 90px 180px;
    min-height: 300px;
    width: auto;
    display: flex;
    gap: 40px;
}

.call-container h1 {
    font-family: "Heading Heavy";
    font-size: 92px;
    margin: 0 0 12px 0;
}

.call-container p {
    font-family: "DM Sans";
    font-size: 24px;
    margin: 0 0 20px 0;
}

.call-container button {
    margin: 0;
    background-color: transparent;
    color: black;
    font-family: "DM Sans";
    font-size: 24px;
    font-weight: 800;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.4s;
}

.call-container button:hover {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "DM Sans";
    font-size: 24px;
    font-weight: 800;
    padding: 10px 30px;
    border-radius: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 12px 0;
    min-height: 80px;
    width: auto;
    background-color: rgb(15, 15, 15);
}

.footer p {
    color: white;
    font-family: "DM Sans";
    font-size: 24px;
}

@media only screen and (max-width: 1800px) {
    .start-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .start-image {
        width: 100%;
        max-width: auto;
        height: auto;
    }

    .top-container {
        padding: 40px;
    }

    .header ul {
        flex-direction: row;
        gap: 20px;
    }

    .start-container h1 {
        font-size: 80px;
    }

    .start-container p {
        font-size: 24px;
        margin-bottom: 28px;
    }

    .start-content-buttons {
        margin-bottom: 28px;
    }

    .start-container button {
        font-size: 20px;
        padding: 8px 20px;
    }

    .start-content button:hover {
        padding: 8px 20px;
        font-size: 20px;
    }

    .dlc-container h1 {
        font-size: 48px;
    }

    .dlc-cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .quote-container {
        min-height: 200px;
    }

    .quote {
        font-size: 24px;
        width: 70vw;
    }

    .call-container {
        display: flex;
        flex-direction: column;
        padding: 60px 60px;
        text-align: center;
    }

    .call-container h1 {
        font-size: 48px;
    }

    .footer {
        padding: 0;
    }
}

@media only screen and (max-width: 1000px) {

    .logo {
        height: 36px;
        width: auto;
    }

    .header ul {
        flex-direction: row;
        gap: 12px;
        font-size: 16px;
    }  
}